// Main Colors
$color-red: rgb(230, 80, 150);
$color-cyan: rgb(46, 186, 204);
$color-white: #f5f5f5;
$color-blueblack: #364f6b;
$color-blueblack-light: #98acc2;
$color-blue: rgb(150, 210, 235);
$color-blue1: #46aff5;
$color-orange: rgb(245,175,105);
$color-yellow: #ffd000;

$color-primary: $color-red;
$color-secondary: $color-cyan;
$color-accent: $color-yellow;

$color-primary2: #fc5185;
$color-secondary2: #3fc1c9;
$color-accent2: #ffd000;

$color-pureblack: #000;
$color-purewhite: #fff;

$color-background: rgba($color-blueblack, 0.04);

// Body
$body-padding: 0px;

// Grid
$grid-width: 140rem;
$gutter-vertical: 3rem;
$gutter-horizontal: 3rem;

$grid-width-xs: 20em; // 320px / 16 (default font size)
$grid-width-sm: 30em; // 480px
$grid-width-md: 40em; // 640px
$grid-width-wd: 45em; // 720px
$grid-width-lg: 64em; // 1024px
$grid-width-xl: 80em; // 1200px

$grid-1-of-2: calc((100% - #{$gutter-horizontal}) / 2);

$grid-1-of-3: calc((100% - #{$gutter-horizontal} * 2) / 3);
$grid-2-of-3: calc(#{$grid-1-of-3} * 2 + #{$gutter-horizontal});

$grid-1-of-4: calc((100% - #{$gutter-horizontal} * 3) / 4);
$grid-2-of-4: calc(#{$grid-1-of-4} * 2 + #{$gutter-horizontal});
$grid-3-of-4: calc(#{$grid-1-of-4} * 3 + #{$gutter-horizontal} * 2);

$grid-1-of-5: calc((100% - #{$gutter-horizontal} * 4) / 5);
$grid-2-of-5: calc(#{$grid-1-of-5} * 2 + #{$gutter-horizontal});
$grid-3-of-5: calc(#{$grid-1-of-5} * 3 + #{$gutter-horizontal} * 2);
$grid-4-of-5: calc(#{$grid-1-of-5} * 4 + #{$gutter-horizontal} * 3);

$grid-1-of-6: calc((100% - #{$gutter-horizontal} * 5) / 6);
$grid-2-of-6: calc(#{$grid-1-of-6} * 2 + #{$gutter-horizontal});
$grid-3-of-6: calc(#{$grid-1-of-6} * 3 + #{$gutter-horizontal} * 2);
$grid-4-of-6: calc(#{$grid-1-of-6} * 4 + #{$gutter-horizontal} * 3);
$grid-5-of-6: calc(#{$grid-1-of-6} * 5 + #{$gutter-horizontal} * 4);

$grid-1-of-7: calc((100% - #{$gutter-horizontal} * 6) / 7);
$grid-2-of-7: calc(#{$grid-1-of-7} * 2 + #{$gutter-horizontal});
$grid-3-of-7: calc(#{$grid-1-of-7} * 3 + #{$gutter-horizontal} * 2);
$grid-4-of-7: calc(#{$grid-1-of-7} * 4 + #{$gutter-horizontal} * 3);
$grid-5-of-7: calc(#{$grid-1-of-7} * 5 + #{$gutter-horizontal} * 4);
$grid-6-of-7: calc(#{$grid-1-of-7} * 6 + #{$gutter-horizontal} * 5);

$grid-1-of-8: calc((100% - #{$gutter-horizontal} * 7) / 8);
$grid-2-of-8: calc(#{$grid-1-of-8} * 2 + #{$gutter-horizontal});
$grid-3-of-8: calc(#{$grid-1-of-8} * 3 + #{$gutter-horizontal} * 2);
$grid-4-of-8: calc(#{$grid-1-of-8} * 4 + #{$gutter-horizontal} * 3);
$grid-5-of-8: calc(#{$grid-1-of-8} * 5 + #{$gutter-horizontal} * 4);
$grid-6-of-8: calc(#{$grid-1-of-8} * 6 + #{$gutter-horizontal} * 5);
$grid-7-of-8: calc(#{$grid-1-of-8} * 7 + #{$gutter-horizontal} * 6);

$grid-1-of-9: calc((100% - #{$gutter-horizontal} * 8) / 9);
$grid-2-of-9: calc(#{$grid-1-of-9} * 2 + #{$gutter-horizontal});
$grid-3-of-9: calc(#{$grid-1-of-9} * 3 + #{$gutter-horizontal} * 2);
$grid-4-of-9: calc(#{$grid-1-of-9} * 4 + #{$gutter-horizontal} * 3);
$grid-5-of-9: calc(#{$grid-1-of-9} * 5 + #{$gutter-horizontal} * 4);
$grid-6-of-9: calc(#{$grid-1-of-9} * 6 + #{$gutter-horizontal} * 5);
$grid-7-of-9: calc(#{$grid-1-of-9} * 7 + #{$gutter-horizontal} * 6);
$grid-8-of-9: calc(#{$grid-1-of-9} * 8 + #{$gutter-horizontal} * 7);

$grid-1-of-10: calc((100% - #{$gutter-horizontal} * 9) / 10);
$grid-2-of-10: calc(#{$grid-1-of-10} * 2 + #{$gutter-horizontal});
$grid-3-of-10: calc(#{$grid-1-of-10} * 3 + #{$gutter-horizontal} * 2);
$grid-4-of-10: calc(#{$grid-1-of-10} * 4 + #{$gutter-horizontal} * 3);
$grid-5-of-10: calc(#{$grid-1-of-10} * 5 + #{$gutter-horizontal} * 4);
$grid-6-of-10: calc(#{$grid-1-of-10} * 6 + #{$gutter-horizontal} * 5);
$grid-7-of-10: calc(#{$grid-1-of-10} * 7 + #{$gutter-horizontal} * 6);
$grid-8-of-10: calc(#{$grid-1-of-10} * 8 + #{$gutter-horizontal} * 7);
$grid-9-of-10: calc(#{$grid-1-of-10} * 9 + #{$gutter-horizontal} * 8);

$grid-1-of-11: calc((100% - #{$gutter-horizontal} * 10) / 11);
$grid-2-of-11: calc(#{$grid-1-of-11} * 2 + #{$gutter-horizontal});
$grid-3-of-11: calc(#{$grid-1-of-11} * 3 + #{$gutter-horizontal} * 2);
$grid-4-of-11: calc(#{$grid-1-of-11} * 4 + #{$gutter-horizontal} * 3);
$grid-5-of-11: calc(#{$grid-1-of-11} * 5 + #{$gutter-horizontal} * 4);
$grid-6-of-11: calc(#{$grid-1-of-11} * 6 + #{$gutter-horizontal} * 5);
$grid-7-of-11: calc(#{$grid-1-of-11} * 7 + #{$gutter-horizontal} * 6);
$grid-8-of-11: calc(#{$grid-1-of-11} * 8 + #{$gutter-horizontal} * 7);
$grid-9-of-11: calc(#{$grid-1-of-11} * 9 + #{$gutter-horizontal} * 8);
$grid-10-of-11: calc(#{$grid-1-of-11} * 10 + #{$gutter-horizontal} * 9);

$grid-1-of-12: calc((100% - #{$gutter-horizontal} * 11) / 12);
$grid-2-of-12: calc(#{$grid-1-of-12} * 2 + #{$gutter-horizontal});
$grid-3-of-12: calc(#{$grid-1-of-12} * 3 + #{$gutter-horizontal} * 2);
$grid-4-of-12: calc(#{$grid-1-of-12} * 4 + #{$gutter-horizontal} * 3);
$grid-5-of-12: calc(#{$grid-1-of-12} * 5 + #{$gutter-horizontal} * 4);
$grid-6-of-12: calc(#{$grid-1-of-12} * 6 + #{$gutter-horizontal} * 5);
$grid-7-of-12: calc(#{$grid-1-of-12} * 7 + #{$gutter-horizontal} * 6);
$grid-8-of-12: calc(#{$grid-1-of-12} * 8 + #{$gutter-horizontal} * 7);
$grid-9-of-12: calc(#{$grid-1-of-12} * 9 + #{$gutter-horizontal} * 8);
$grid-10-of-12: calc(#{$grid-1-of-12} * 10 + #{$gutter-horizontal} * 9);
$grid-11-of-12: calc(#{$grid-1-of-12} * 11 + #{$gutter-horizontal} * 10);

// Parallax
$parallax-trigger-width: $grid-width-lg;

$util-fonts: 'Share', 'Kosugi', -apple-system, sans-serif;
