.grid {
  padding: 20px;
}

.row {
  position: relative;
  width: 100%;
  max-width: $grid-width;
  margin: 0 auto;

  &.full-height {
    height: 100%;
  }

  @include clearfix;

  [class^="col-"] {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
      margin-bottom: $gutter-vertical;
    } 

    &.center {
      margin-left: auto;
    }

    @include orientation(portrait) {
      @include respond(lg) {
        width: 100% !important;

        &:not(:last-child) {
          margin: 0;
        } 
      }
    }

    @include orientation(landscape) {
      @include respond(md) {
        width: 100% !important;

        &:not(:last-child) {
          margin: 0;
        } 
      }
    }
  }


  .col-1-of-2 {
    width: $grid-1-of-2;
  }
  
  .col-1-of-3 {
    width: $grid-1-of-3;
  }
  
  .col-2-of-3 {
    width: $grid-2-of-3;
  }
  
  .col-1-of-4 {
    width: $grid-1-of-4;
  }

  .col-2-of-4 {
    width: $grid-2-of-4;
  }

  .col-3-of-4 {
    width: $grid-3-of-4;
  }

  .col-1-of-5 {
    width: $grid-1-of-5;
  }

  .col-2-of-5 {
    width: $grid-2-of-5;
  }

  .col-3-of-5 {
    width: $grid-3-of-5;
  }

  .col-4-of-5 {
    width: $grid-4-of-5;
  }

  .col-1-of-6 {
    width: $grid-1-of-6;
  }

  .col-2-of-6 {
    width: $grid-2-of-6;
  }

  .col-3-of-6 {
    width: $grid-3-of-6;
  }

  .col-4-of-6 {
    width: $grid-4-of-6;
  }

  .col-5-of-6 {
    width: $grid-5-of-6;
  }

  .col-1-of-7 {
    width: $grid-1-of-7;
  }

  .col-2-of-7 {
    width: $grid-2-of-7;
  }

  .col-3-of-7 {
    width: $grid-3-of-7;
  }

  .col-4-of-7 {
    width: $grid-4-of-7;
  }

  .col-5-of-7 {
    width: $grid-5-of-7;
  }

  .col-6-of-7 {
    width: $grid-6-of-7;
  }

  .col-1-of-8 {
    width: $grid-1-of-8;
  }

  .col-2-of-8 {
    width: $grid-2-of-8;
  }

  .col-3-of-8 {
    width: $grid-3-of-8;
  }

  .col-4-of-8 {
    width: $grid-4-of-8;
  }

  .col-5-of-8 {
    width: $grid-5-of-8;
  }

  .col-6-of-8 {
    width: $grid-6-of-8;
  }

  .col-7-of-8 {
    width: $grid-7-of-8;
  }

  .col-1-of-9 {
    width: $grid-1-of-9;
  }

  .col-2-of-9 {
    width: $grid-2-of-9;
  }

  .col-3-of-9 {
    width: $grid-3-of-9;
  }

  .col-4-of-9 {
    width: $grid-4-of-9;
  }

  .col-5-of-9 {
    width: $grid-5-of-9;
  }

  .col-6-of-9 {
    width: $grid-6-of-9;
  }

  .col-7-of-9 {
    width: $grid-7-of-9;
  }

  .col-8-of-9 {
    width: $grid-8-of-9;
  }

  .col-1-of-10 {
    width: $grid-1-of-10;
  }

  .col-2-of-10 {
    width: $grid-2-of-10;
  }

  .col-3-of-10 {
    width: $grid-3-of-10;
  }

  .col-4-of-10 {
    width: $grid-4-of-10;
  }

  .col-5-of-10 {
    width: $grid-5-of-10;
  }

  .col-6-of-10 {
    width: $grid-6-of-10;
  }

  .col-7-of-10 {
    width: $grid-7-of-10;
  }

  .col-8-of-10 {
    width: $grid-8-of-10;
  }

  .col-9-of-10 {
    width: $grid-9-of-10;
  }

  .col-1-of-11 {
    width: $grid-1-of-11;
  }

  .col-2-of-11 {
    width: $grid-2-of-11;
  }

  .col-3-of-11 {
    width: $grid-3-of-11;
  }

  .col-4-of-11 {
    width: $grid-4-of-11;
  }

  .col-5-of-11 {
    width: $grid-5-of-11;
  }

  .col-6-of-11 {
    width: $grid-6-of-11;
  }

  .col-7-of-11 {
    width: $grid-7-of-11;
  }

  .col-8-of-11 {
    width: $grid-8-of-11;
  }

  .col-9-of-11 {
    width: $grid-9-of-11;
  }

  .col-10-of-11 {
    width: $grid-10-of-11;
  }

  .col-1-of-12 {
    width: $grid-1-of-12;
  }

  .col-2-of-12 {
    width: $grid-2-of-12;
  }

  .col-3-of-12 {
    width: $grid-3-of-12;
  }

  .col-4-of-12 {
    width: $grid-4-of-12;
  }

  .col-5-of-12 {
    width: $grid-5-of-12;
  }

  .col-6-of-12 {
    width: $grid-6-of-12;
  }

  .col-7-of-12 {
    width: $grid-7-of-12;
  }

  .col-8-of-12 {
    width: $grid-8-of-12;
  }

  .col-9-of-12 {
    width: $grid-9-of-12;
  }

  .col-10-of-12 {
    width: $grid-10-of-12;
  }

  .col-11-of-12 {
    width: $grid-11-of-12;
  }
}