.jobs {
  &-container {
    display: block;

    @include respond(lg) {
      max-width: unset;
      margin: 0;
    }
  }
}

.job-post {
  display: block;
  padding: 3rem 0;

  @include respond(sm) {
    padding: 0;
  }

  &__info {
    display: table-cell;
  }

  &__container {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;

    @include respond(lg) {
      max-width: unset;
      margin: 0;
      padding: 5rem 3rem;
    }

    @include respond(sm) {
      padding: 1rem;
    }
  }

  &__header {
    padding: 0 3rem;

    @include respond(sm) {
      padding: 4rem 0 0;
    }
  }

  &__id {
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 3rem;
    padding: 0.6rem 1rem;
    border: 1px solid $color-primary;
    border-radius: 0.4rem;

    span:first-child {
      color: $color-primary;
    }

    span:nth-child(2) {
      padding-left: 3rem;
    }
  }
}

.job-detail {
  &__container {
    display: table;
    padding-top: 2.5rem;
  }

  &__element {
    display: table-row;
    border-bottom: 1px solid $color-primary;
    line-height: 1.5;
  }

  &__label {
    display: table-cell;
    font-weight: 700;
    color: $color-primary;
    text-transform: uppercase;
    text-align: right;
    padding-right: 2rem;
    word-break: keep-all;
    min-width: 10rem;

    @include respond(sm) {
      text-align: left;
      padding-right: 0;
      width: 8rem;
    }
  }
}

.job-search {
  &__container {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__search {
    width: 100%;
    max-width: 140rem;
    padding: 0 1rem;
    text-align: center;
  }

  &__results {
    @extend .job-search__search;
    padding-top: 4rem;
  }
}