.minput {
  display: flex;
  align-items: center;
  padding: 1.5rem 0 0.7rem 0;

  &.vertical {
    padding: 0.5rem 0;
    flex-direction: column;
    align-items: flex-start;
  }

  &__label {
  padding: 0.5rem 0;
    margin-right: 2rem;
    color: $color-primary;
    // min-width: 15rem;
    text-align: right;

    &.vertical {
      padding-bottom: 0.2rem;
      padding-top: 1rem;
      margin-right: 0;
      text-align: left;
    }
  }

  &__container {
    position: relative;
    display: flex;
 
    &.fill {
      width: 100%;
    }

    &.responsive {
      @include respond(sm) {
        width: 100%;
      }
    }
  }

  &__input {
    min-width: 20rem;
    font-size: 2rem;
    font-family: inherit;
    color: inherit;
    flex-grow: 1;
    padding: 0.5rem;
    min-height: 4rem;
    border: 1px solid lighten($color-primary, 20%);
    border-radius: 0.4rem;

    &:read-only {
      background-color: transparent;
      border: none;

      &:focus {
        border: none;
        outline: none;
        box-shadow: none;
      }
    }

    &:not(textarea) {
      line-height: 1;
      height: 4rem;
    }

    &.text-right {
      text-align: right;
    }

    &.text-left {
      text-align: left;
    }

    &.enable {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:focus {
      border: 2px solid $color-primary;
      outline: none;
      box-shadow: none;
    }

    &:focus:invalid {
      background-color: lighten($color-primary, 33.3%);
    }

    &:disabled {
      background-color: $color-purewhite;
      color: rgba($color-blueblack, 0.3);
    }

    &::placeholder {
      font-style: italic;
      font-size: 1.5rem;
      color: lighten($color-primary, 18%);
    }
  }

  &__lang {
    font-family: $util-fonts;
    display: none;
    color: $color-primary;
    padding: 0.5rem;
    min-width: 3rem;
    align-self: baseline;
    background-color: $color-purewhite;
    border: 1px solid lighten($color-primary, 20%);
    border-left: transparent;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;

    &.hidden.hidden {
      display: none;
    }

    @include respond(xl) {
      &:hover {
        cursor: pointer;
      }
      
      &.show {
        border-left: 1px solid lighten($color-primary, 20%);
        margin-left: -1px;
  
        &>.minput__lang__list {
          display: block;
        }
        &>.minput__lang__icon {
          display: none;
        }
      }
    }

    &.enable {
      display: flex;
    }

    &__icon {
      text-align: center;
      margin: auto;
    }
    &__list {
      display: none;
      text-align:right;

      ul {
        display: inline-flex;
      }

      &__item {
        display: inline-block;
        list-style: none;
        text-decoration: none;
        min-width: 2.5rem;
        cursor: pointer;
        text-align: center;

        &.selected {
          color: $color-white;
          font-weight: 700;;
          background: $color-primary;
        }

        &:hover {
          background-color: lighten($color-primary, 30%);
          color: $color-primary;
        }
      }
    }
  }

  @include respond(xl, true) {
    &__lang:hover {
      border-left: 1px solid lighten($color-primary, 20%);
      margin-left: -1px;
      & > .minput__lang__list {
        display: block;
      }
      & > .minput__lang__icon {
        display: none;
      }
    }
  }
}