.navigation {
  font-family: $util-fonts;
  display: none;

  @include respond(lg) {
    display:unset;    
  }

  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    position: fixed;
    height: 6rem;
    width: 6rem;
    top: 2rem;
    right: 2rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-pureblack, .1);
    text-align: center;
    cursor: pointer;
    opacity: .5;
  }

  &__background {
    z-index: 1000;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    position: fixed;
    top: 2.5rem;
    right: 2.5rem;
    background-image: radial-gradient(lighten($color-blueblack, 20%), $color-blueblack);
    transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);
    opacity: .2;
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: -7rem;
    z-index: 1500;

    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 2.5rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent, transparent 50%, $color-white 50%);
      background-size: 250%;
      transition: all 0.4s;

      span {
        margin-right: 2rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-blueblack;
      transform: translateX(1rem);
    }
  }

  &__checkbox:checked ~ &__background {
    opacity: 1;
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    right: 0;
    width: 100%;
  }

  &__icon {
    position: relative;
    margin-top: 3rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-pureblack;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before { top: -.8rem; }
    &::after { top: .8rem; }

  }

  &__button:hover &__icon::before {
    top: -1.1rem;
  }

  &__button:hover &__icon::after {
    top: 1.1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}