.circle-container {
  width: 100%;
  min-height: 100vh;
  padding: 12rem 3rem 0;
  display: relative;
  color: $color-white;
  background-color: rgba($color-blueblack, 0.5);

  @include respond(md) {
    background-color: rgba($color-blueblack, 0.9);
  }

  &__header {
    display: block;
  }

  &__title {
    font-weight: 700;
    font-size: 4.5rem;
    text-align: center;
    padding: {
      top: 4rem;
      bottom: 1.4rem;
    }

    @include respond(md) {
      text-align: left;
      padding-top: 0rem;
      font-size: 4rem;
    }

  }
  &__description {
    font-size: 3rem;
    text-align: center;
    max-width:100rem;
    margin: 0 auto;
    padding-bottom: 5rem;

    @include respond(lg) {
      text-align: justify;
    }

    @include respond(md) {
      font-size: 2rem;
    }
  }

  &__my {
    padding-top: 3rem;
    max-width: 140rem;
    margin: 0 auto;

    &__title {
      font-size: 4rem;
    }
  }
}